<div class="container container-custom">
      <div class="card-custom">
        <div class="img-container">
          <%= image_tag(@entity.group.icon) %>
        </div>
        <div class="text-container">
          <div>
            <h5><%= @entity.name %></h5>
            <small> Created at <%= time_ago_in_words(@entity.created_at) %> </small></p>
          </div>
        </div>
        <div class="amount">
          <p> <%= @entity.amount %> </p>
        </div>
      </div>
</div>
<div class="btn-div">
  <%= link_to "Delete Entity", entity_path(@entity),data: {turbo_method: :delete}, class: "btn-custom" %>
</div>
